<div class="container">
  <p style="grid-row: 1; grid-column: 1;">
    <mat-form-field appearance="outline">
      <mat-label>Character Name</mat-label>
      <input style="color: white"
             matInput
             [(ngModel)]="characterName"
             required>
    </mat-form-field>
  </p>
  <p style="grid-row: 2; grid-column: 1;">
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option *ngFor="let role of roles"
                    [value]="role">{{role.name}}</mat-option>
      </mat-select>
      <mat-hint>{{selectedRole.description}}</mat-hint>
    </mat-form-field>
  </p>
  <!-- <p class="role-ability">
    Role ability:
    {{selectedRole.roleAbility}}
  </p> -->
  <div class="pdf-container" style="grid-row: 1 / span 2; grid-column: 2;">
    <ngx-extended-pdf-viewer [src]="selectedRole.roleInfoFile" [useBrowserLocale]="true"  height="75vh"></ngx-extended-pdf-viewer>
  </div>
</div>
