<mat-accordion>
    <div *ngFor="let stat of allStats">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{stat.name}} / {{stat.name_DE}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin-bottom: 10px;">{{stat.description}}</div>
            <div>{{stat.description_DE}}</div>
            <app-stat-input style="padding: 15px" [stat]="stat">
            </app-stat-input>
        </mat-expansion-panel>
    </div>
</mat-accordion>

<div class="status-footer">
    <div>Used Points: {{spendPoints}}</div>
    <div>Remaining Points: {{remainingPoints}}</div>
</div>