.stat-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
    border: 1px solid #f44336;
    padding: 15px;
    border-radius: 35px;
}