<div class="header">Cyberpunk Character Creator</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Pick a Role">
    <crcc-role></crcc-role>
  </mat-tab>
  <!-- <mat-tab label="Run Your Lifepath">
    Run Your Lifepath
  </mat-tab> -->
  <mat-tab label="Build Your STATS">
    <crcc-stats></crcc-stats>
  </mat-tab>
  <mat-tab label="Set Your SKILLS">
    <app-skills></app-skills>
  </mat-tab>
  <mat-tab label="Buy Your Stuff">
    <app-buy-your-stuff></app-buy-your-stuff>
  </mat-tab>
  <mat-tab label="Download">
    <button mat-raised-button
            color="primary"
            (click)="downloadData()">Download</button>
  </mat-tab>
</mat-tab-group>
