<div class="header">Cyberpunk Character Creator</div>
<mat-stepper #stepper
             class="stepper"
             [linear]="true"
             [orientation]="(stepperOrientation | async)!">
  <mat-step>
    <ng-template matStepLabel>Pick a Role</ng-template>
    <crcc-role></crcc-role>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Run Your Lifepath</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Build Your STATS</ng-template>
    <crcc-stats></crcc-stats>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Set Your SKILLS</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Buy Your Stuff</ng-template>
  </mat-step>
</mat-stepper>
