<!-- <div class="life-path-option" *ngFor="let lpOption of allOptions">
    <span>{{lpOption.header}}</span>
    <mat-form-field appearance="fill">
        <mat-label>{{lpOption.header}}</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of lpOption.options" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="life-path-option__random-button" mat-mini-fab color="primary"><mat-icon style="color: white;">shuffle</mat-icon></button>
</div> -->