<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Melee Weapons
    </mat-expansion-panel-header>
    <app-melee-weapons-table></app-melee-weapons-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Ranged Weapons
    </mat-expansion-panel-header>
    <app-ranged-weapons-table></app-ranged-weapons-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Ammunition
    </mat-expansion-panel-header>
    <app-ammunition-table></app-ammunition-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Armor
    </mat-expansion-panel-header>
    <app-armor-table></app-armor-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Gear
    </mat-expansion-panel-header>
    <app-gear-table></app-gear-table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Cyberware
    </mat-expansion-panel-header>
    <app-cyberware-table></app-cyberware-table>
  </mat-expansion-panel>
</mat-accordion>


<div class="status-footer">
  <div>Remaining Humanity: {{humanity$ | async}}</div>
  <div>Remaining Budget: {{budget$|async}}eb</div>
</div>
